@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/utils';

@import './components/buttons';
@import './components/carousel-button';
@import './components/format-card';
@import './components/input';
@import './components/links';
@import './components/pagination';

@import './layouts/container';
@import './layouts/correctly';
@import './layouts/footer';
@import './layouts/header-section';
@import './layouts/hero';
@import './layouts/kanzashi';
@import './layouts/manufacture';
@import './layouts/masterclass';
@import './layouts/modal';
@import './layouts/mobile-menu';
@import './layouts/traditions';