:root {
	--color-primary-dark: #01010a;
	--color-primary-normal: #ffffff;
	--color-primary-clear: #e3f1f366;
	--color-primary-light: #2aabee;
	--color-primary-card: #C850C0;


	--color-fon-traditions: #add2fcbf;
	--color-fon-correctly: #84c4e6cc;
	--color-fon-kanzashi: #7de2f6a2;
	--color-fon-masterclass: #78b7d9bf;
	--color-fon-lesson: #ADD2FC;


	--color-secondary-dark: #041a55;
	--color-secondary-light: #36b4f5;
	--color-secondary-normal: #f9fafb;
	--color-secondary-btn: #e77d24;
	--color-secondary-modal: #445778;
	--color-secondary-stroke: #06306D;
}

$br--mobile: 480px;
$br--tablet: 768px;
$br--smalldesktop: 1024px;
$br--desktop: 1280px;