:root {
	--color-primary-dark: #01010a;
	--color-primary-normal: #ffffff;
	--color-primary-clear: #e3f1f366;
	--color-primary-light: #2aabee;

	--color-secondary-dark: #041a55;
	--color-secondary-light: #36b4f5;
	--color-secondary-normal: #f9fafb;
	--color-secondary-btn: #e77d24;
	--color-secondary-modal: #445778;
}

$br--mobile: 480px;
$br--tablet: 768px;
$br--smalldesktop: 950px;
$br--desktop: 1280px;