.format-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 206px;
  padding: 24px;
  border-radius: 16px;
  overflow: hidden;

  &__image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
