.bant-section {
	& {
		padding: 40px 0;
	}

	&__wrapper {
		display: flex;
		gap: 20px 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__title {
		text-align: left;
		color: var(--color-primary-dark);
		font-size: 32px;
		margin-bottom: 20px;
	}

	&__card {
		width: 250px;
		height: 350px;
		border: 1px solid var(--color-secondary-dark);
		background: var(--color-secondary-normal);
		padding: 8px;
		border-radius: 16px;

	}

	&__container {
		text-align: center;
		padding: 10px 0;

	}

	&__image {
		border: 1px solid var(--color-secondary-dark);
		border-radius: 8px;
		margin: 0 auto;
		padding: 16px;
	}

	&__name {
		padding-bottom: 12px;
	}

	&__num {
		padding: 0 16px;
		border-radius: 4px;
		border: 1px solid var(--color-primary-dark);
		margin-left: 12px;
		margin-right: 12px;
	}

	&__item {
		padding: 8px;
	}

	&__units {
		padding: 0 12px;
		border-radius: 4px;
		border: 1px solid var(--color-primary-dark);
	}

	&__btn--minus {
		padding: 0 12px;
		border-radius: 4px;
		border: transparent;
		background-color: var(--color-secondary-dark);
		color: var(--color-secondary-normal);

		&:hover {
			background-color: var(--color-secondary-normal);
			color: var(--color-primary-dark);
			border: 1px solid var(--color-primary-dark);
		}

	}

	&__btn--plus {
		padding: 0 12px;
		border-radius: 4px;
		border: transparent;
		background-color: var(--color-secondary-dark);
		color: var(--color-secondary-normal);

		&:hover {
			background-color: var(--color-secondary-normal);
			color: var(--color-primary-dark);
			border: 1px solid var(--color-primary-dark);
		}

	}

	@media screen and (min-width: $br--tablet) {
		&__title {
			font-size: 64px;
			margin-bottom: 40px;
		}
	}

}