.correctly {
	padding: 40px 0;
	background-color: var(--color-fon-correctly);

	&__container {
		display: flex;
		flex-direction: row-reverse;
		gap: 59px;
	}

	&__title {
		text-align: center;
		font-size: 40px;
		margin-bottom: 8px;
	}

	&__text {
		margin-bottom: 4px;
		text-align: justify;
	}

	&__menu {
		list-style-type: inherit;
		margin-left: 52px;
	}

	&__image {
		border-radius: 16px;
	}

}