.footer {
	background-image: url('/images/fon_footer.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	max-height: 160px;
	text-align: left;

	&__container {
		display: flex;
		flex-direction: row;
		background-color: var(--color-primary-clear);
		justify-content: space-around;
		gap: 48px;
		padding-top: 16px;
	}

	&__address {
		display: flex;
		justify-content: center;
		flex-direction: row;
	}

	&__addres-title {
		margin-bottom: 16px;
		color: var(--color-primary-dark);
	}

	&__contacts {
		display: flex;
		flex-direction: row;
		gap: 100px;
	}

	&__address-copyright {
		margin-top: 16px;
	}

	&__address-item {
		display: flex;
		flex-direction: row;
		gap: 30px;
	}

	&__address-link {
		color: var(--color-primary-dark);
	}

	&__address-link:hover {
		color: var(--color-primary-normal);
	}

	&__address-item--tel {
		display: flex;
		flex-direction: row;
		gap: 54px;
	}

	&__socials-icon {
		margin-right: 22px;
		background-color: var(--color-primary-normal);
	}
}