.header-section {
	& {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		padding: 0;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}



	&__menu {
		display: flex;
		flex-direction: column;
		gap: 10px;

	}

	@media screen and (min-width: $br--tablet) {
		& {
			padding: 24px 0;
		}

		&__menu {
			flex-direction: row;

		}

	}

	@media screen and (min-width: $br--smalldesktop) {
		&__menu {
			gap: 50px;

		}

	}
}