.hero-section {
	width: 100%;
	padding: 190px 0 20px 0;
	background-image: url('/images/fon_start.jpg');
	max-height: 692px;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;

	&__container {
		padding: 0;
		flex-wrap: nowrap;
	}

	&__text--title {
		display: flex;
		justify-content: space-around;
		color: var(--color-primary-normal);
		text-align: center;
		font-size: 30px;
		font-weight: 700;
		line-height: 1;

	}

	&__text--subtitle {
		display: flex;
		justify-content: space-around;
		color: var(--color-primary-dark);
		font-size: 24px;
		margin-bottom: 16px;
		font-weight: 700;
		line-height: 1;
	}

	@media screen and (min-width: $br--mobile) {
		& {
			padding: 130px 0 20px 0;
			text-align: left;
		}

	}

	@media screen and (min-width: $br--tablet) {
		& {
			padding: 130px 0 40px;

		}

		&__container {
			background: var(--color-primary-clear);

		}

		&__text--subtitle {
			margin-bottom: 32px;
		}
	}

	@media screen and (min-width: $br--smalldesktop) {
		&__text--subtitle {
			font-size: 80px;
			line-height: 1.5;
			justify-content: center;
		}

		&__text--title {
			font-size: 96px;
			line-height: 1.5;
			font-weight: 900;
			justify-content: center;
			padding-bottom: 60px;

		}

		&__container {
			padding: 0;
		}
	}
}