.lesson {
	padding: 40px 0;
	background-color: var(--color-fon-lesson);

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__subtitle {
		font-size: 18px;
		margin-bottom: 20px;
	}


	&__text {
		text-align: justify;
		margin-bottom: 20px;
		padding: 0;
		overflow-y: scroll;
		height: 200px;
	}

	&__video {
		width: 225px;
		height: 159px;
		object-fit: cover;
	}

	@media screen and (min-width: $br--tablet) {
		&__subtitle {
			font-size: 36px;
			margin-bottom: 40px;
		}

		&__video {
			width: 550px;
			height: 318px;
		}

		&__text {
			margin-bottom: 40px;
			padding: 0 109px;
			overflow-y: hidden;
			height: auto;
		}
	}
}