.masterclass {
	padding: 40px 0;
	background-color: var(--color-fon-masterclass);

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__title {
		text-align: center;
		font-size: 40px;
		margin-bottom: 40px;
	}

	&__subtitle {
		font-size: 36px;
		text-align: left;
		margin-bottom: 40px;
	}

	&__text--descr {
		text-align: justify;
		margin-bottom: 40px;
	}

	&__subtitle--text {
		font-size: 36px;
		text-align: center;
		margin-bottom: 40px;
	}

	&__item {
		display: flex;
		flex-direction: row-reverse;
		gap: 48px;
	}

	&__item--descr {
		text-align: justify;
		padding: 0 80px 0;
	}

	&__image {
		border-radius: 16px;
	}
}