.menu {
	& a {
		text-decoration: none;
	}

	& a.parent {
		margin: 0px 20px 0px 0px;
	}

	& li {
		position: relative;
		list-style: none;
		margin-bottom: 10px;
		border: 1px solid var(--color-primary-dark);
		width: 120px;
		height: 35px;
		text-align: center;
		justify-content: center;
		padding: 0;
		border-radius: 8px;
		background-color: var(--color-primary-normal);
		font-size: 10px;
	}


	& li:hover {
		background-color: #b2e3f1;

	}

	&__list {
		display: flex;
		gap: 20px;
		justify-content: flex-start;
		text-align: left;
	}

	&__list--nav {
		display: flex;
		gap: 16px;
		margin-bottom: 10px;
	}

	&__list>li {
		margin: 0px 0px 10px 0px;
		color: var(--color-primary-dark);
	}

	&__link {
		color: var(--color-primary-dark);

		&:hover {
			color: var(--color-primary-lingt);
		}
	}

	@media screen and (min-width: $br--mobile) {
		& li {
			width: 140px;
			height: 40px;
			padding: 5px;
			font-size: 12px;
		}
	}


	@media screen and (min-width: $br--tablet) {
		& li {
			width: 160px;
			height: 34px;
			font-size: 14px;
			border-radius: 16px;
		}
	}

	@media screen and (min-width: $br--smalldesktop) {
		&__list {
			gap: 60px;
		}

		&__list--nav {
			gap: 32px;
		}

		& li {
			width: 200px;
			height: 44px;
		}

	}
}